services:
  cloudimgs:
    # 本地构建
    build: .
    ports:
      - "3001:3001"
    volumes:
      - ./uploads:/app/uploads
      - ./logs:/app/logs
    restart: unless-stopped
    container_name: cloudimgs-app
    environment:
      - NODE_ENV=production
      # 密码保护（可选）
      # - PASSWORD=your_password
